server {
        ## Your website name goes here.
        server_name opcache.tunk.io;
        ## Your only path reference.
        root /wwwroot/opcache/web;

        index index.php;
 
        location / {
                try_files $uri $uri/ /index.php;
        }

         location ~ \.php$ {
                #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
                include fastcgi.conf;
                fastcgi_intercept_errors on;
                fastcgi_pass php;
        }

}

